@model ClientProfile


<div class="container">
    <h1 class="page-title">Details</h1>
    <div class="client-details">
        <div class="client-details--container">
            <p class="client-details--label">First Name:</p>
            <p class="client-details--info">@Model.AppUser.FirstName</p>
        </div>
        <div class="student-details--container">
            <p class="client-details--label">Last Name:</p>
            <p class="client-details--info">@Model.AppUser.LastName</p>
        </div>
    </div>

   

</div>
