@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #F4C0AF;
    }
</style>

<p><br /><br /><br /><br /></p>
<div class="text-center">
    <h1 style="color:navy" class="display-4">MRT FARE MATRIX<br /></h1>
    <p><br /></p>
    <h4> <a href="https://github.com/mikaelajintalan/Jintalan-Mikaela-MRT-Fare-Matrix">CC313 Final</a></h4>
    <p style="color:red"><marquee behavior="scroll" direction="left" scrollamount="1">Jintalan Mikaela L. - BSCS-31E1</marquee></p>
</div>


